<a href="https://colab.research.google.com/github/vivianesilviana/vivianesilviana/blob/main/Viviane_Silviana_Romadhanni_Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

In [3]:
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [4]:
#Memilih masing-masing segmen
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

# 1. Tentukan Segment mana dengan profit tertinggi!  [30]

In [5]:
# Tentukan Segment mana dengan profit tertinggi!
a=df_Consumer.profit.sum()
b=df_Corporate.profit.sum()
c=df_Home_Office.profit.sum()
print("Profit dari Consumer adalah    :",a)
print("Profit dari Corporate adalah   :",b)
print("Profit dari Home Office adalah :",c)

Profit dari Consumer adalah    : 128959.22080000001
Profit dari Corporate adalah   : 83579.158
Profit dari Home Office adalah : 58189.7681

In [6]:
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [7]:
#Memilih masing-masing category
df_Office_Supplies=df[df['category']=='Office Supplies']
df_Furniture=df[df['category']=='Furniture']
df_Technology=df[df['category']=='Technology']

# 2. Tentukan Category mana dengan sales terbanyak!  [30]

In [8]:
#Tentukan category mana dengan sales terbanyak
a=df_Consumer.sales.sum()
b=df_Corporate.sales.sum()
c=df_Home_Office.sales.sum()
print("Sales dari Office Supplies adalah :",a)
print("Sales dari Furniture adalah       :",b)
print("Sales dari Technology adalah      :",c)

Sales dari Office Supplies adalah : 1132401.43
Sales dari Furniture adalah       : 688646.4168
Sales dari Technology adalah      : 395814.7005

In [9]:
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [13]:
#Memilih masing-masing Sub Category
df_Binders=df[df['sub_category']=='Binders']
df_Paper=df[df['sub_category']=='Paper']
df_Furnishings=df[df['sub_category']=='Furnishings']
df_Phones=df[df['sub_category']=='Phones']
df_Storage=df[df['sub_category']=='Storage']
df_Art=df[df['sub_category']=='Art']
df_Accessories=df[df['sub_category']=='Accessories']
df_Chairs=df[df['sub_category']=='Chairs']
df_Appliances=df[df['sub_category']=='Appliances']
df_Labels=df[df['sub_category']=='Labels']
df_Tables=df[df['sub_category']=='Tables']
df_Envelopes=df[df['sub_category']=='Envelopes']
df_Bookcases=df[df['sub_category']=='Bookcases']
df_Fasteners=df[df['sub_category']=='Fasteners']
df_Supplies=df[df['sub_category']=='Supplies']
df_Machines=df[df['sub_category']=='Machines']
df_Copiers=df[df['sub_category']=='Copiers']

# 3. Tentukan Sub-Category dengan quantity paling sedikit! [40]

In [12]:
#Tentukan Sub-Category dengan quantity paling sedikit
a=df_Binders.quantity.sum()
b=df_Paper.quantity.sum()
c=df_Furnishings.quantity.sum()
d=df_Phones.quantity.sum()
e=df_Storage.quantity.sum()
f=df_Art.quantity.sum()
g=df_Accessories.quantity.sum()
h=df_Chairs.quantity.sum()
i=df_Appliances.quantity.sum()
j=df_Labels.quantity.sum()
k=df_Tables.quantity.sum()
l=df_Envelopes.quantity.sum()
m=df_Bookcases.quantity.sum()
n=df_Fasteners.quantity.sum()
o=df_Supplies.quantity.sum()
p=df_Machines.quantity.sum()
q=df_Copiers.quantity.sum()
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)
print(l)
print(m)
print(n)
print(o)
print(p)
print(q)

5974
5178
3563
3289
3158
3000
2976
2356
1729
1400
1241
906
868
914
647
429
218

#4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!**